@use "../../App";

.level-selector {
  display: flex;
  flex-direction: column;
  position: relative;
  width: fit-content;
  cursor: pointer;
  min-width: fit-content;


  .list {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    gap: 1rem;
    position: absolute;

    .level {
      &:hover {
        opacity: 0.7;
      }
    }
  }

  .hidden {
    display: none;
  }
}
