@use "../../styles/extends";

.game-board {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
  gap: 1rem;
  max-width: 850px;
  margin: auto;

  .tile {
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    border-radius: 8px;
    background: extends.$tile-bg;
    cursor: pointer;
    transition: transform 0.3s ease;
    color: extends.$tile-color;
  }

  [data-revealed=true] {
    background: white;
    transform: scale(1.1);
  }

  .bg-level-image {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    object-fit: cover;
  }
}


@media screen and (max-width: 850px) {
  .game-board {
    grid-template-columns: repeat(3, 1fr);
  }
}


@media screen and (max-width: 300px){
  .game-board {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 275px){
  .game-board {
    grid-template-columns: repeat(1, extends.$tile-size);
  }
}