@use "../../styles/extends";
.app-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin: 2rem 0;

  .settings {
    @extend %common-dialog;
  }

  .logo {
    width: 56px;
    border-radius: 8px;
  }
  .stats {
    order: 1;
    p {
      text-shadow: 0 0 20px extends.$bg-color;
    }
  }
  .settings-btn {
    order: 2;
  }
}

@media (max-width: 520px) {
  .logo {
    order: 2;
  }
  .stats {
    width: 100%;
  }
}